# CMake
cmake-build-debug/
CMakeFiles/
cmake_install.cmake
CMakeCache.txt
Makefile


# Outputs
build/*
bin/*
results/*

# Data
data/*
!data/bmx-bumps/

# External dependencies
external/lib/*

# Unwanted C++ files
*.o
*.a

# MAC
.DS_Store

# Editor/IDE specific
.vscode
.idea
